<div class="p-fixed">
    <div class="headerWrapper">
        <div class="headerContainer">
            <img class="logoImg" src="assets/img/header_img/pm_logo.png" alt="">
            <div class="menuImg {{ toggleAnimation ? 'clicked' : 'unclicked' }}" [class.firstLoad]="firstLoad"
                (click)="toggleDropdownMenu()"></div>
        </div>
    </div>

    <div [class.active]="dropdownMenuActive" class="dropdownMenu">
        <div class="quickLinks">
            <a class="quickLinksA" href="#aboutMeSection">About me</a>
            <a class="quickLinksA" href="#mySkillsSection">My skills</a>
            <a class="quickLinksA" href="#portfolioHeadline">Portfolio</a>
        </div>

        <div class="dropdownInfo">
            <div class="dropdownInfoTop">
                <span>Say Hi!</span>
            </div>
            <div class="dropdownInfoButton">
                <div class="emailBox">
                    <a href="mailto:pascal.moeller@posteo.de">pascal.moeller&#64;posteo.de</a>
                </div>
                <div class="infoLinks">
                    <img src="assets/img/dropdown_img/git_logo.png" alt="">
                    <img src="assets/img/dropdown_img/mail_logo.png" alt="">
                    <img src="assets/img/dropdown_img/linkedin_logo.png" alt="">                    
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="dropdownMenuActive" class="overlay"></div>

</div>