.headerWrapper {
    position: fixed;
    padding: 40px 0px;
    top: 0;
    // bottom: 30px;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 30px 100px 30px 100px;
    // padding: 30px 0px 30px 0px;
    margin: 0 auto;
    margin-left: max(64px, calc((100% - 1200px) / 2));
    margin-right: max(64px, calc((100% - 1200px) / 2));
    // padding: 0 64px;

    .logoImg {
        width: 80px;
        cursor: pointer;
    }

    .menuImg {
        width: 44px;
        height: 38px;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}



.clicked {
    animation: changeImage 0.35s forwards;
    background-image: url(/assets/img/header_img/close.png);
}


@keyframes changeImage {
    0% {
        background-image: url(/assets/img/header_img/burger1.png);
    }

    20% {
        background-image: url(/assets/img/header_img/burger2.png);
    }

    40% {
        background-image: url(/assets/img/header_img/burger3.png);
    }

    60% {
        background-image: url(/assets/img/header_img/burger4.png);
    }

    80% {
        background-image: url(/assets/img/header_img/close.png);
    }

    100% {
        background-image: url(/assets/img/header_img/close.png);
    }
}

.unclicked {
    animation: changeImageReverse 0.35s forwards;
    background-image: url(/assets/img/header_img/burger1.png);
}

@keyframes changeImageReverse {
    0% {
        background-image: url(/assets/img/header_img/close.png);
    }

    20% {
        background-image: url(/assets/img/header_img/close.png);
    }

    40% {
        background-image: url(/assets/img/header_img/burger4.png);
    }

    60% {
        background-image: url(/assets/img/header_img/burger3.png);
    }

    80% {
        background-image: url(/assets/img/header_img/burger2.png);
    }

    100% {
        background-image: url(/assets/img/header_img/burger1.png);
    }
}

.firstLoad {
    background-image: url(/assets/img/header_img/burger1.png) !important;
}