.p-fixed {
    z-index: 2;
    width: 100%;
    position: fixed;
    left: 0;
}

.headerWrapper {
    background-color: #FFFCF3;
    position: fixed;
    padding: 5vh 0px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 2;

    @media(max-width: 400px) {
        padding: 20px 0px;
    }
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-left: max(64px, calc((100% - 1200px) / 2));
    margin-right: max(64px, calc((100% - 1200px) / 2));

    @media(max-width: 500px) {
        margin-left: max(32px, calc((100% - 1200px) / 2));
        margin-right: max(32px, calc((100% - 1200px) / 2));
    }

    .logoImg {
        width: 80px;
        cursor: pointer;

        @media(max-width: 400px) {
            width: 50px;
        }
    }

    .rightHeader {
        display: flex;
        align-items: center;
        gap: 40px;

        @media(max-width: 400px) {
            gap: 24px;
        }

        .changeLanguage {
            cursor: pointer;
            height: 26px;

            @media(max-width: 400px) {
                height: 32px;
            }

            &:hover {
                transform: scale(1.1);
            }

            img {
                height: 26px;
                border-radius: 100%;

                @media(max-width: 400px) {
                    height: 24px;
                }
            }
        }

    }

    .menuImg {
        width: 44px;
        height: 38px;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;

        @media(max-width: 400px) {
            width: 32px;
        }
    }
}



.clicked {
    animation: changeImage 0.35s forwards;
    background-image: url(./../../assets/img/header_img/close.png);
}


@keyframes changeImage {
    0% {
        background-image: url(./../../assets/img/header_img/burger1.png);
    }

    20% {
        background-image: url(./../../assets/img/header_img/burger2.png);
    }

    40% {
        background-image: url(./../../assets/img/header_img/burger3.png);
    }

    60% {
        background-image: url(./../../assets/img/header_img/burger4.png);
    }

    80% {
        background-image: url(./../../assets/img/header_img/close.png);
    }

    100% {
        background-image: url(./../../assets/img/header_img/close.png);
    }
}

.unclicked {
    animation: changeImageReverse 0.35s forwards;
    background-image: url(./../../assets/img/header_img/burger1.png);
}

@keyframes changeImageReverse {
    0% {
        background-image: url(./../../assets/img/header_img/close.png);
    }

    20% {
        background-image: url(./../../assets/img/header_img/close.png);
    }

    40% {
        background-image: url(./../../assets/img/header_img/burger4.png);
    }

    60% {
        background-image: url(./../../assets/img/header_img/burger3.png);
    }

    80% {
        background-image: url(./../../assets/img/header_img/burger2.png);
    }

    100% {
        background-image: url(./../../assets/img/header_img/burger1.png);
    }
}

.firstLoad {
    background-image: url(./../../assets/img/header_img/burger1.png) !important;
}

.active {
    transform: translateY(0px) !important;
}

.dropdownMenu {
    background-color: #FFFCF3;
    transform: translateY(-2210px);
    height: 0px;
    margin-top: 10vh;
    transition: 250ms ease;

    @media(max-width: 400px) {
        // margin-top: 77px;
    }

    .quickLinks {
        background-color: #FFFCF3;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 39px;
        position: relative;
        z-index: -1;
        padding-bottom: 10vh;
        height: 60vh;
        // padding-top: 20px;
        justify-content: center;

        a {
            color: black;
            text-decoration: none;
            cursor: pointer;
            font-family: 'Syne';
            font-size: 96px;
            font-weight: 700;
            position: relative;
            width: 580px;
            height: 120px;
            text-align: center;

            &::before,
            &::after {
                content: ''; // Pseudo-Element-Inhalt
                position: absolute; // Absolute Positionierung relativ zum span-Element
                bottom: 0; // Am unteren Rand des span-Elements ausrichten
                width: 50%; // Breite des Pseudo-Elements auf 50% der Breite des span-Elements setzen
                height: 2px; // Höhe des Pseudo-Elements (zum Beispiel 2px)
                background-color: black; // Hintergrundfarbe des Pseudo-Elements
                transition: 150ms; // Standard-Transition
            }

            &::before {
                width: 5px;
                height: 52px;
                left: 0; // Am linken Rand des span-Elements ausrichten
            }

            &::after {
                width: 40px;
                height: 5px;
                left: 0%; // Am linken Rand des span-Elements ausrichten
                // transform: translateX(-100%); // Zentrieren Sie das Pseudo-Element horizontal
                transition-delay: 100ms; // Verzögerung der Transition von ::after
            }

            &:hover::before {
                height: 0px;
            }

            &:hover::after {
                left: 57%;
                width: 220px;
                // transition-delay: 250ms; // Verzögerung der Transition von ::after nach ::before
            }
        }
    }

    .dropdownInfo {
        padding-left: max(64px, (100% - 1200px) / 2);
        padding-right: max(64px, (100% - 1200px) / 2);
        background-color: black;
        position: relative;
        padding-bottom: 24px;
        height: 20vh;
        display: grid;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 140.5px;
            width: 100%;
            background-color: black;
            // transform: skewY(4deg);
            z-index: -1;
            margin-top: -140px;
            clip-path: polygon(0% 0%, 0% 0%, 100% 100%, 0% 100%);
        }

        .dropdownInfoTop {
            background-color: black;

            a {
                text-decoration: none;
                cursor: pointer;
                color: #FFFCF3;
                font-family: 'Syne';
                font-size: 78px;
                font-weight: 800;
                background-color: black;
                transition: 125ms;

                @media(max-width: 450px) {
                    font-size: 60px;
                }

                @media(max-width: 400px) {
                    font-size: 40px;
                }

                @media(max-height: 900px) {
                    font-size: 40px;
                }

                &:hover {
                    color: #5988FF;
                }
            }
        }
    }

    .dropdownInfoButton {
        background-color: unset;
        margin-top: 32px;
        display: flex;
        justify-content: space-between;

        .emailBox {
            background-color: black;
        }

        a {
            background-color: black;
            color: #FFFCF3;
            text-decoration: none;
            font-family: 'Overpass';
            display: block;
            font-size: 23px;
            font-weight: 300;
            transition: 125ms;
        }

        .infoLinks {
            background-color: black;
            gap: 10px;
            display: flex;
            flex-direction: column;

            .infoLinksImg {
                display: flex;
                gap: 42px;
                justify-content: end;
            }

            .infoLinksLegals {
                display: flex;
                gap: 24px;
                position: relative;

                a {
                    font-size: 16px;

                    &:hover {
                        filter: unset;
                        transform: scale(1.1) translateY(-1px);
                        color: rgb(89, 136, 255);
                    }
                }
            }

            img {
                background-color: black;
                cursor: pointer;
                transition: 125ms;

                &:hover {
                    transform: scale(1.25) translateY(-4px);
                }
            }
        }
    }
}

.overlay {
    z-index: -10;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
}

@media(max-width: 720px) {
    .dropdownMenu {
        .dropdownInfoButton {
            flex-direction: column-reverse;
            align-items: center;
            gap: 16px;
        }

        .dropdownInfo {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            padding-left: unset;
            padding-right: unset;

            .dropdownInfoTop {
                span {
                    font-size: 50px;
                }
            }
        }

        .quickLinks {
            a {
                font-size: 56px;
                width: 330px;
                height: 70px;

                @media(max-height: 750px) {
                    font-size: 40px;
                }

                &:hover::after {
                    width: 140px;
                }

                &::before {
                    height: 38px;
                }
            }
        }
    }
}

@media(max-width: 400px) {
    .dropdownMenu {
        .dropdownInfoButton {
            flex-direction: column-reverse;
            align-items: center;
            gap: 16px;
        }

        .dropdownInfo {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;

            .dropdownInfoTop {
                span {
                    font-size: 50px;
                }
            }
        }

        .quickLinks {
            height: 57vh;

            a {
                font-size: 36px;
                width: 225px;
                height: 44px;

                &::after {
                    width: 28px;
                }

                &:hover::after {
                    width: 70px;
                    left: 63%;
                }

                &::before {
                    height: 22px;
                }
            }
        }
    }
}

@media(max-height: 750px) {
    .dropdownMenu {
        .dropdownInfoButton {
            flex-direction: column-reverse;
            align-items: center;
            gap: 16px;
        }

        .dropdownInfo {
            display: flex;
            align-items: center;
            flex-direction: column;

            .dropdownInfoTop {
                span {
                    font-size: 50px;
                }
            }
        }

        .quickLinks {
            a {
                font-size: 36px;
                width: 225px;
                height: 44px;

                &::after {
                    width: 28px;
                }

                &:hover::after {
                    width: 70px;
                    left: 63%;
                }

                &::before {
                    height: 22px;
                }
            }
        }
    }
}

// @media(max-width: 400px) {
//     font-size: 36px;
//     width: 225px;
//     height: 44px;
// }