<div class="p-fixed">
    <div class="headerWrapper">
        <div class="headerContainer">
            <a routerLink=""><img class="logoImg" src="assets/img/header_img/pm_logo.png" alt=""></a>
            <div class="rightHeader">
                <div class="changeLanguage" (click)="changeLanguage()"><img [src]="!setEng ? 'assets/img/header_img/eng.png' : 'assets/img/header_img/de.png'" alt=""></div>
                <div class="menuImg {{ toggleAnimation ? 'clicked' : 'unclicked' }}" [class.firstLoad]="firstLoad"
                    (click)="toggleDropdownMenu()"></div>
            </div>
        </div>
    </div>

    <div [class.active]="dropdownMenuActive" class="dropdownMenu">
        <div class="quickLinks">
            <a (click)="navigateToFragment('aboutMeSection')" class="quickLinksA">About me</a>
            <a (click)="navigateToFragment('mySkillsSection')" class="quickLinksA">My skills</a>
            <a (click)="navigateToFragment('portfolioHeadline')" class="quickLinksA">Portfolio</a>
        </div>

        <div class="dropdownInfo">
            <div class="dropdownInfoTop">
                <a class="contactMe" href="#contactMe">Say Hi!</a>
            </div>
            <div class="dropdownInfoButton">
                <div class="emailBox">
                    <a href="mailto:pascal.moeller@posteo.de">pascal.moeller&#64;posteo.de</a>
                </div>
                <div class="infoLinks">
                    <div class="infoLinksImg">
                        <a href="https://github.com/pacl3m" target="_blank"><img
                                src="assets/img/dropdown_img/git_logo.png" alt=""></a>
                        <a href="mailto:pascal.moeller@posteo.de"><img src="assets/img/dropdown_img/mail_logo.png"
                                alt=""></a>
                        <a href="https://de.linkedin.com/in/pascal-möller-01887226b?trk=people-guest_people_search-card"
                            target="_blank"><img src="assets/img/dropdown_img/linkedin_logo.png" alt=""></a>
                    </div>
                    <div class="infoLinksLegals">
                        <a routerLink="/imprint" class="legalNoticeBox">Impressum</a>
                        <a routerLink="/privacy-policy" class="legalNoticeBox">Datenschutz</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="dropdownMenuActive" class="overlay"></div>

</div>