$footer-height: 150px;

.footer-box {
    height: $footer-height;
    // background-color: black;

    .footer {
        height: $footer-height;
        position: absolute;
        // bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        // /* width: 100%; */
        padding-left: max(64px, calc((100% - 1200px) / 2));
        padding-right: max(64px, calc((100% - 1200px) / 2));
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width: 500px) {
            padding-left: max(32px, calc((100% - 1200px) / 2));
            padding-right: max(32px, calc((100% - 1200px) / 2));
        }

        @media(max-width: 420px) {
            flex-direction: column-reverse;
            gap: 8px;
            padding-top: 32px;
        }

        .leftFooterBox {
            display: flex;
            flex-direction: column;
            gap: 16px;

            @media(max-width: 420px) {
                align-items: center;
            }

            .logoImg {
                width: 80px;
                filter: invert(1);
                cursor: pointer;
            }

            .copyrightBox {
                color: white;
                font-size: 23px;
                font-family: 'Overpass';
            }
        }

        .rightFooterBox {
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 16px;

            @media(max-width: 420px) {
                align-items: center;
            }

            .infoLinks {
                background-color: black;
                gap: 42px;
                display: flex;

                img {
                    height: 30px;
                    cursor: pointer;
                    transition: 125ms;

                    &:hover {
                        filter: opacity(0.5);
                        transform: scale(1.1) translateY(-3px);
                    }
                }

            }

            .infoLegals {
                display: flex;
                gap: 24px;

                .legalNoticeBox {
                    color: white;
                    font-size: 16px;
                    font-weight: 400;
                    font-family: 'Overpass';
                    cursor: pointer;
                    transition: 125ms;
                    text-decoration: none;

                    &:hover {
                        filter: unset;
                        transform: scale(1.1) translateY(0px);
                        color: rgb(89, 136, 255);
                    }
                }
            }

        }
    }
}