<div class="footer-box">
    <div class="footer">
        <div class="leftFooterBox">
            <div>
                <img class="logoImg" src="assets/img/header_img/pm_logo.png" (click)="reloadPage()" alt="">
            </div>
            <div class="copyrightBox">© Pascal Möller</div>
        </div>
        <div class="rightFooterBox">
            <div class="infoLinks">
                <img src="assets/img/dropdown_img/git_logo.png" alt="">
                <img src="assets/img/dropdown_img/mail_logo.png" alt="">
                <img src="assets/img/dropdown_img/linkedin_logo.png" alt="">
            </div>
            <div class="legalNoticeBox">Legal Notice</div>
        </div>
    </div>
</div>