<div class="footer-box">
    <div class="footer">
        <div class="leftFooterBox">
            <div>
                <img class="logoImg" src="assets/img/header_img/pm_logo.png" (click)="reloadPage()" alt="">
            </div>
            <div class="copyrightBox">© Pascal Möller</div>
        </div>
        <div class="rightFooterBox">
            <div class="infoLinks">
                <a href="https://github.com/pacl3m" target="_blank"><img src="assets/img/dropdown_img/git_logo.png"
                        alt=""></a>
                <a href="mailto:contact@pascal-moeller.de"><img src="assets/img/dropdown_img/mail_logo.png" alt=""></a>
                <a href="https://de.linkedin.com/in/pascal-möller-01887226b?trk=people-guest_people_search-card"
                    target="_blank"><img src="assets/img/dropdown_img/linkedin_logo.png" alt=""></a>
            </div>
            <div class="infoLegals">
                <a routerLink="/imprint" class="legalNoticeBox">{{ languageService.isEnglish ? 'Impressum' :
                    'Legal Notice' }}</a>
                <a routerLink="/privacy-policy" class="legalNoticeBox">{{ languageService.isEnglish ?
                    'Datenschutz' : 'Privacy Policy' }}</a>
            </div>
        </div>
    </div>
</div>