.aboutMeSection {
    margin-top: 120px;
    margin-bottom: 32px;

    /* Anfangszustand: Links außerhalb des Bildschirms */
    // &.slide-in-left {
    //     opacity: 0;
    //     transform: translateX(-50%);
    //     transition: 750ms cubic-bezier(0.41, 0.4, 0.27, 1.55);
    // }

    /* Endzustand: Im Sichtbereich */
    // &.active {
    //     opacity: 1;
    //     transform: translateX(0);
    // }

    @media(max-width: 1080px) {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .headlineAboutMe {
        h2 {
            font-family: 'Syne';
            font-size: 78px;
            font-weight: 800;
            margin: 0;

            @media(max-width: 1250px) {
                font-size: 64px;
            }

            @media(max-width: 1130px) {
                font-size: 56px;
            }

            @media(max-width: 1080px) {
                text-align: center;
            }

            @media(max-width: 650px) {
                font-size: 40px;
            }

            @media(max-width: 450px) {
                font-weight: 700;
            }

            &:hover {
                color: #5988FF;
            }
        }
    }

    .aboutMeInfoBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 64px;

        @media(max-width: 1080px) {
            flex-direction: column-reverse;
            margin-bottom: 0px;
        }

        .rightAboutMeInfoBox {
            display: flex;
            flex-direction: column;
            align-items: center;

            .aboutMeText {
                width: 610px;
                font-family: 'Overpass';
                font-size: 23px;
                font-weight: 400;
                margin-bottom: 50px;

                @media(max-width: 1250px) {
                    font-size: 20px;
                }

                @media(max-width: 1130px) {
                    font-size: 17px;
                }

                @media(max-width: 1080px) {
                    margin-top: 24px;
                    text-align: center;
                    margin-bottom: 0px;
                }

                @media(max-width: 650px) {
                    width: 400px;
                }

                @media(max-width: 450px) {
                    width: 300px;
                    margin-bottom: 0px;
                }
            }

            .contactButton {
                cursor: pointer;
                font-family: 'Overpass';
                font-weight: 400;
                font-size: 23px;
                width: 213px;
                height: 68px;
                border: 4px solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 150ms;
                text-decoration: none;

                @media(max-width: 1250px) {
                    height: 48px;
                    width: 180px;
                }

                @media(max-width: 1130px) {
                    height: 48px;
                    width: 180px;
                }

                @media(max-width: 1080px) {
                    margin-top: 20px;
                }

                @media(max-width: 870px) {
                    transition: none;
                    visibility: hidden;
                    margin-top: 0px;
                    height: 0;
                }

                &:hover {
                    font-weight: 800;
                    width: 280px;
                }
            }
        }

        .aboutMeImg {
            position: relative;
            display: inline-block;
            margin-top: -32px;

            @media(max-width: 1080px) {
                margin-top: 24px;
            }

            img {
                height: 440px;

                @media(max-width: 1250px) {
                    height: 360px;
                }

                @media(max-width: 1130px) {
                    height: 320px;
                }

                @media(max-width: 450px) {
                    height: 260px;
                }
            }

            &::after {
                content: '';
                position: absolute;
                top: 0px;
                left: 0px;
                bottom: 0px;
                right: 0px;
                border: 4px solid #000;
                opacity: 0;
                transition: 150ms;
            }

            &:hover::after {
                opacity: 1;
                top: 20px;
                left: 20px;
                bottom: -20px;
                right: -20px;
            }
        }
    }
}