.spacer {
    height: 50px;
}

.diagonal {
    height: 140px;
    background-color: black;
    position: absolute;
    right: 0;
    left: 0;
    clip-path: polygon(0% 0%, 0% 0%, 100% 100%, 0% 100%);
    margin-top: -140px;
}

.content {
    height: 700px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    padding-left: max(64px, (100% - 1200px) / 2);
    padding-right: max(64px, (100% - 1200px) / 2);

    .headline {
        font-family: 'Syne';
        font-size: 78px;
        font-weight: 800;
        color: #FFFCF3;
        margin-top: -40px;
    }

    .textArea {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 32px;
        gap: 20px;

        .textHeadAreaHeadline {
            color: #5988FF;
            font-family: 'Overpass';
            font-size: 32px;
            font-weight: 700;
        }

        .textHeadAreaUnderline {
            color: #FFFCF3;
            font-family: 'Overpass';
            font-weight: 400;
            font-size: 23px;
        }

        .inputArea {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 617px;
            gap: 25px;

            .textBox {
                position: relative;
                box-sizing: border-box;
                border-bottom: solid 2px #FFFCF3;
                width: 617px;

                &.hover {
                    border: solid 3px #FFFCF3 !important;
                    margin: -3px 0px -1.5px -3px !important;
                }

                &.hover2 {
                    border: solid 1px #FFFCF3;
                    margin: -1px 0px -0px -1px;
                }

                // &:focus {
                //     outline: none;
                //     border-top: solid 2px #FFFCF3;
                //     border-left: solid 2px #FFFCF3;
                //     border-right: solid 2px #FFFCF3;
                // }

                input,
                textarea {
                    width: calc(100% - 31px);
                    background-color: transparent;
                    color: #FFFCF3;
                    border: none;
                    padding-left: 25px;
                    font-family: 'Overpass';
                    font-size: 16px;
                    font-weight: 400;

                    &:focus {
                        outline: none;
                    }
                }

                input {
                    height: 50px;
                }

                textarea {
                    height: 150px;
                    padding-top: 20px;
                    resize: none;
                }

                &::after {
                    content: attr(data-placeholder);
                    position: absolute;
                    top: 24px;
                    left: 0;
                    transform: translateY(-50%);
                    color: #FFFCF3;
                    transition: 125ms;
                    pointer-events: none;
                    font-family: 'Overpass';
                    font-size: 16px;
                    font-weight: 400;
                    margin-left: 20px;
                    padding-right: 2px;
                    padding-left: 2px;
                    background-color: black;
                }

                // &:focus-within::after {
                //     color: #5988FF;
                //     transform: translateY(-170%);
                //     margin-left: 10px;
                //     font-size: 15px;
                // }

                &.focus::after {
                    color: #5988FF;
                    transform: translateY(-180%);
                    margin-left: 10px;
                    font-size: 15px;
                }
            }
        }
    }
}