.spacer {
    height: 50px;
}

.diagonal {
    height: 140.8px;
    background-color: black;
    position: absolute;
    right: 0;
    left: 0;
    clip-path: polygon(0% 0%, 0% 0%, 100% 100%, 0% 100%);
    margin-top: -140px;
}

.contentBox {
    height: 700px;


    .content {
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        position: absolute;
        left: 0;
        right: 0;
        padding-left: max(64px, (100% - 1200px) / 2);
        padding-right: max(64px, (100% - 1200px) / 2);

        @media(max-width: 500px) {
            padding-left: max(32px, calc((100% - 1200px) / 2));
            padding-right: max(32px, calc((100% - 1200px) / 2));
        }

        .headline {
            font-family: 'Syne';
            font-size: 78px;
            font-weight: 800;
            color: #FFFCF3;
            margin-top: -40px;

            @media(max-width: 650px) {
                font-size: 54px;
                margin-top: -24px;
            }

            @media(max-width: 450px) {
                font-size: 32px;
            }
        }

        .textArea {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: 32px;
            gap: 20px;

            .textHeadAreaHeadline {
                color: #5988FF;
                font-family: 'Overpass';
                font-size: 32px;
                font-weight: 700;
                text-align: center;
                max-width: 880px;

                @media(max-width: 650px) {
                    font-size: 24px;
                }
            }

            .textHeadAreaUnderline {
                color: #FFFCF3;
                font-family: 'Overpass';
                font-weight: 400;
                font-size: 23px;
                text-align: center;
                max-width: 710px;

                @media(max-width: 650px) {
                    font-size: 16px;
                }

                @media(max-width: 450px) {
                    // font-size: 12px;
                }
            }

            .inputArea {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 617px;
                gap: 25px;

                @media(max-width: 650px) {
                    width: 400px;
                }


                @media(max-width: 460px) {
                    width: 300px;
                }

                .nameAlert {
                    color: red;
                    font-family: 'Overpass';
                    font-weight: 400;
                    font-size: 12px;
                    margin-top: -20px;
                    margin-bottom: -20px;
                }

                .textBox {
                    position: relative;
                    box-sizing: border-box;
                    border-bottom: solid 2px #FFFCF3;
                    width: 617px;
                    display: flex;
                    // align-items: center;
                    padding-right: 25px;

                    @media(max-width: 650px) {
                        width: 400px;
                    }

                    @media(max-width: 460px) {
                        width: 300px;
                    }

                    &.hover {
                        border: solid 3px #FFFCF3 !important;
                        margin: -3px 0px -1px 0px !important;
                        border-radius: 8px;
                        width: 100%;
                    }

                    &.hover2 {
                        border: solid 1px #FFFCF3;
                        margin: -1px 0px 1px 0px;
                        border-radius: 8px;
                    }

                    input,
                    textarea {
                        width: calc(100% - 31px);
                        background-color: transparent;
                        color: #FFFCF3;
                        border: none;
                        padding-left: 25px;
                        font-family: 'Overpass';
                        font-size: 16px;
                        font-weight: 400;

                        &:focus {
                            outline: none;
                        }
                    }

                    input {
                        height: 50px;
                    }

                    textarea {
                        height: 150px;
                        padding-top: 20px;
                        resize: none;
                    }

                    .aggreeBox {
                        // color: #FFFCF3;
                        height: 25px;
                        width: 25px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        padding-top: 25px;

                        &.wrong {
                            background-image: url(./../../assets/img/contactMe_img/red.png);
                        }

                        &.right {
                            background-image: url(./../../assets/img/contactMe_img/green.png);
                        }
                    }

                    &::after {
                        content: attr(data-placeholder);
                        position: absolute;
                        top: 24px;
                        left: 0;
                        transform: translateY(-50%);
                        color: #FFFCF3;
                        transition: 125ms;
                        pointer-events: none;
                        font-family: 'Overpass';
                        font-size: 16px;
                        font-weight: 400;
                        margin-left: 20px;
                        padding-right: 2px;
                        padding-left: 2px;
                        background-color: black;
                    }

                    &.focus::after {
                        color: #5988FF;
                        transform: translateY(-180%);
                        margin-left: 10px;
                        font-size: 13px;
                    }
                }
            }

            .policeAgreeBox {
                margin-top: 8px;
                display: flex;
                justify-content: center;
                gap: 16px;

                @media(max-width: 650px) {
                    width: 350px;
                }

                @media(max-width: 460px) {
                    width: 300px;
                }

                .hookContainer {

                    .confirmationBox {
                        background-repeat: no-repeat;
                        background-size: contain;
                        cursor: pointer;

                        &.uncheckBox {
                            height: 18px;
                            width: 18px;
                            background-image: url(./../../assets/img/confirmationBox_img/uncheck_box.png);

                            &:hover {
                                width: 24px;
                                height: 24px;
                                margin: -3px;
                                background-image: url(./../../assets/img/confirmationBox_img/unchecked_box_hover.png);
                            }
                        }

                        &.checkBox {
                            height: 18px;
                            width: 18px;
                            background-image: url(./../../assets/img/confirmationBox_img/check_box.png);

                            &:hover {
                                width: 24px;
                                height: 24px;
                                margin: -3px;
                                background-image: url(./../../assets/img/confirmationBox_img/checked_box_hover.png);
                            }
                        }
                    }
                }

                .confirmationText {
                    display: inline-block;
                    color: #FFFCF3;
                    font-family: 'Overpass';
                    font-size: 14px;
                    font-weight: 400;

                    a {
                        color: #5988FF;
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .hookAlert {
                color: red;
                font-family: 'Overpass';
                font-weight: 400;
                font-size: 12px;
                margin-top: -20px;
                margin-bottom: -20px;
                visibility: hidden;
                width: 74%;

                &.show {
                    visibility: unset;
                }
            }
        }

        .buttomContactMe {
            margin-top: 48px;
            width: 100%;
            display: flex;
            justify-content: space-between;

            button {
                cursor: pointer;
                width: 269px;
                height: 68px;
                background-color: black;
                font-family: 'Overpass';
                font-size: 23px;
                font-weight: 400;
                color: #BBBBBB;
                border: solid 4px #BBBBBB;
                border-radius: 15px;
                transition: 30ms;
                box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);

                @media(max-width: 650px) {
                    font-size: 18px;
                    width: 160px;
                    height: 52px;
                }

                &:hover {
                    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.4);
                }

                &:active {
                    transform: translateY(1px) rotateX(0) rotateY(0);
                    box-shadow: 0 15px 80px rgba(255, 255, 255, 0.5),
                        0 5px 15px rgba(255, 255, 255, 0.3);
                }

                &.active-button {
                    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.4);
                    color: white;
                    border: solid 4px white;
                }

                // Deaktiviere Hover- und Active-Effekte, wenn notAccept false ist
                &.no-hover-active {
                    pointer-events: none; // Deaktiviert alle Mausereignisse
                    // box-shadow: 0 10px 20px rgba(255, 255, 255, 0.4);

                    &:hover {
                        box-shadow: none; // Keine Hover-Effekte
                    }

                    &:active {
                        transform: none; // Keine Active-Effekte
                        box-shadow: none; // Keine Active-Effekte
                    }
                }
            }

            .arrowContainer {
                width: 40px;
                margin-top: 100px;
                animation: changeMargin 2s linear infinite;

                img {
                    cursor: pointer;
                }
            }

            @keyframes changeMargin {

                0%,
                100% {
                    margin-top: 5px;
                }

                50% {
                    margin-top: 25px;
                }
            }
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100;
        transition: 500ms;
        opacity: 0;
        z-index: -10;

        .sendingConfirmation {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 25px;
            height: 80px;
            background-color: #FFFCF3;
            font-family: 'Overpass';
            font-size: 32px;
            position: absolute;
            border: #5988FF solid 4px;
            padding: 20px 40px;
            transform: scale(0);
            transition: 500ms;

            @media(max-width: 600px) {
                width: 170px;
                height: 70px;
                font-size: 20px;
            }
        }
    }

    .d-flex {
        opacity: 1;
        z-index: 1000;
    }

    .appear {
        transform: scale(1) !important;
    }
}