<div class="spacer"></div>
<div class="diagonal"></div>
<div class="content">
    <div class="headline">
        Say Hi!
    </div>
    <div class="textArea">
        <div class="textHeadAreaHeadline">Want to discuss a new project?</div>
        <div class="textHeadAreaUnderline">Say hello! Let's discuss your ideas and make it happen</div>
        <div class="inputArea">
            <div class="textBox" data-placeholder="Your name*">
                <input type="text" (input)="onInput($event)" (mouseover)="onHover($event)"
                    (mouseout)="onHoverOut($event)" (focus)="onFocus($event)" (blur)="onBlur($event)"
                    [(ngModel)]="name">
            </div>
            <div class="textBox" data-placeholder="Your email*">
                <input type="email" (input)="onInput($event)" (mouseover)="onHover($event)"
                    (mouseout)="onHoverOut($event)" (focus)="onFocus($event)" (blur)="onBlur($event)"
                    [(ngModel)]="email">
            </div>
            <div class="textBox messageBox" data-placeholder="Your message*">
                <textarea cols="30" rows="10" (input)="onInput($event)" (mouseover)="onHover($event)"
                    (mouseout)="onHoverOut($event)" (focus)="onFocus($event)" (blur)="onBlur($event)"
                    [(ngModel)]="message"></textarea>
            </div>
        </div>
        <div class="policeAgreeBox">
            <div class="hookContainer">
                <div (click)="checkBox()" class="confirmationBox uncheckBox" id="checkBox"></div>
            </div>
            <div class="confirmationText">I've read the privacy policy and agree to the processing of my data as
                outlined.</div>
        </div>
    </div>

    <button>Send message</button>

</div>