<div class="portfolioHeadline" id="portfolioHeadline">
    <div class="headline">
        <h2>Portfolio</h2>
        <span>
            {{ languageService.isEnglish ? 'Schauen Sie sich gerne einige meiner Projekte samt Quellcode an:' : 'Feel free to try out my latest development projects and look into their code...' }}
        </span>
    </div>
</div>

<div *ngFor="let project of projects; let i = index" class="portfolioSections"
    [ngClass]="{'mirrored': project.mirrored}">
    <div class="imgContainer">
        <img [src]="project.imgSrc" alt="">
        <img class="additionalImage" src="assets/img/portfolio_img/link_arrow.png" alt="">
    </div>
    <div class="count">{{ i + 1 }}/{{ projects.length }}</div>
    <div class="descriptionContainer">
        <div class="projectName">{{ project.name }}</div>
        <div class="projectSkills">{{ project.skills }}</div>
        <div class="projectDescription">{{ project.description }}</div>
        <div class="projectLinks">
            <a class="leftBox" href="{{ project.links.live }}" target="_blank">Live</a>
            <a class="rightBox" href="{{ project.links.github }}" target="_blank">GitHub</a>
        </div>
    </div>
</div>