<div class="portfolioHeadline" id="portfolioHeadline">
    <div class="headline">
        <h2>Portfolio</h2>
        <span>Feel free to try out my latest development projects and look into their code...</span>
    </div>
</div>

<div *ngFor="let project of projects; let i = index" class="portfolioSections" [ngClass]="{'mirrored': project.mirrored}">
    <div class="imgContainer">
        <img [src]="project.imgSrc" alt="">
    </div>
    <div class="count">{{ i + 1 }}/{{ projects.length }}</div>
    <div class="descriptionContainer">
        <div class="projectName">{{ project.name }}</div>
        <div class="projectSkills">{{ project.skills }}</div>
        <div class="projectDescription">{{ project.description }}</div>
        <div class="projectLinks">
            <div class="leftBox">{{ project.links.live }}</div>
            <div class="rightBox">{{ project.links.github }}</div>
        </div>
    </div>
</div>
