<div class="portfolioHeadline">
    <div class="headline">
        <h2>Portfolio</h2>
        <span>Feel free to try out my latest development projects
            and look into their code...</span>
    </div>
</div>

<div class="portfolioSections">
    <div class="imgContainer">
        <img src="/assets/img/portfolio_img/sharkie_portolio.jpg" alt="">
    </div>
    <div class="count">01/03</div>
    <div class="descriptionContainer">
        <div class="projectName">Sharkie</div>
        <div class="projectSkills">HTML | CSS | JS</div>
        <div class="projectDescription">Ein einfaches Jump-and-Run-Spiel, das auf einem objektorientierten Ansatz
            basiert. Hilf Sharkie, Münzen und Giftflaschen zu finden, um gegen den Killerwal zu kämpfen.</div>
        <div class="projectLinks">
            <div class="leftBox">Live</div>
            <div class="rightBox">GitHub</div>
        </div>
    </div>
</div>

<div class="portfolioSections mirrored">
    <div class="imgContainer">
        <img src="/assets/img/portfolio_img/sharkie_portolio.jpg" alt="">
    </div>
    <div class="count">01/03</div>
    <div class="descriptionContainer">
        <div class="projectName">Sharkie</div>
        <div class="projectSkills">HTML | CSS | JS</div>
        <div class="projectDescription">Ein einfaches Jump-and-Run-Spiel, das auf einem objektorientierten Ansatz
            basiert. Hilf Sharkie, Münzen und Giftflaschen zu finden, um gegen den Killerwal zu kämpfen.</div>
        <div class="projectLinks">
            <div class="leftBox">Live</div>
            <div class="rightBox">GitHub</div>
        </div>
    </div>
</div>