.mySkillsSection {
    border: 4px solid black;
    margin-top: 120px;
    margin-bottom: 32px;
    font-family: 'Overpass';
    font-size: 16px;
    font-weight: 700;

    @media(max-width: 650px) {
        margin-top: 60px;
    }

    @media(max-width: 450px) {
        margin-top: 0px;
    }

    .mySkillsHeadline {
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            text-align: center;
            font-family: 'Syne';
            font-size: 78px;
            font-weight: 800;
            margin-top: -54px;
            width: 561px;
            background-color: #FFFCF3;

            &:hover {
                color: #5988FF;
            }

            @media(max-width: 775px) {
                font-size: 56px;
                width: 390px;
                margin-top: -40px;
            }

            @media(max-width: 555px) {
                font-size: 44px;
                width: 300px;
                margin-top: -30px;
            }

            @media(max-width: 520px) {
                font-size: 32px;
                width: 220px;
                margin-top: -24px;
            }
        }
    }

    .testContainer {
        display: flex;
        justify-content: center;
        padding: 100px 0px;
        gap: 40px;
        margin-top: -20px;

        @media(max-width: 775px) {
            padding: 50px 0px;
        }

        .mySkillsTop {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            text-align: center;
            max-width: 959px;

            .skillContainer {
                flex-grow: 1;
                width: 80px;
                margin: 40px;
                overflow: hidden;

                @media(max-width: 775px) {
                    margin: 30px;
                }

                @media(max-width: 555px) {
                    margin: 20px;
                }

                @media(max-width: 496px) {
                    margin: 10px;
                }

                .imageContainer {
                    padding-bottom: 10px;

                    img {
                        @media(max-width: 520px) {
                            height: 60px;
                        }
                    }
                }

                &:hover {
                    .skillDescription {
                        color: #5988FF;
                    }

                    .imageContainer img {
                        animation: changePadding 260ms ease-in-out forwards 1;
                    }
                }
            }
        }
    }
}

@keyframes changePadding {
    0% {
        margin-left: 0px;
    }

    25% {
        margin-left: 110px;
        transform: scale(0.8);
    }

    50% {
        transform: scale(0.5);
    }

    75% {
        margin-left: -180px;
        transform: scale(0.8);
    }

    100% {
        margin-left: 0px;
    }
}