<div id="mySkillsSection" class="mySkillsSection slide-in-right" [ngClass]="{'active-slide': isVisible}">

    <div class="mySkillsHeadline">
        <h2>My skills</h2>
    </div>

    <div class="testContainer">
        <div class="mySkillsTop">
            <div *ngFor="let skill of skills" class="skillContainer">
                <div class="imageContainer"><img [src]="skill.imgSrc" alt=""></div>
                <div class="skillDescription">{{ skill.description }}</div>
            </div>
        </div>
    </div>

</div>