<app-header></app-header>
<div class="mainLayout">
    <div class="imprintContent">
        <div class="headline">
            <h1>Impressum</h1>
            <h3>Angaben gemäß § 5 DDG</h3>
        </div>
        <div class="address">
            <span>Pascal Möller</span><br>
            <span>Mustertal 1</span><br>
            <span>61593 Wiesbaden</span><br>
        </div>
        <div class="contact">
            <span>Telefon: 012345678</span><br>
            <span>E-mail: contact&#64;pascal-moeller.de
            </span><br>
        </div>
    </div>
</div>
<app-footer></app-footer>