.aboveTheFold {
    height: 100vh;
}

.headlineContainer {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .headlingTop {
        h1 {
            font-family: 'Syne';
            font-weight: 800;
            text-align: center;
            font-size: 128px;
            margin-bottom: 0;
            margin-top: 204px;
        }
    }

    .headlinebottom {
        display: flex;
        align-items: center;
        gap: 16px;

        h2 {
            margin-top: 0;
            margin-bottom: 0;
            font-family: 'Overpass';
            color: #5988FF;
            font-size: 48px;
            font-weight: 700;
        }

        .stroke {
            background-image: url(/assets/img/header_img/stroke.png);
            width: 628px;
            height: 4px;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

.bottomlineContainer {
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .leftBottomline {
        writing-mode: vertical-lr;
        text-orientation: sideways-right;
        transform: rotate(180deg);
        margin-bottom: 30px;

        a {
            text-decoration: none !important;
            font-family: 'Overpass';
            font-weight: 300;
            font-size: 23px;
            color: black;
        }
    }

    .rightBottomline {
        margin-bottom: 30px;

        .arrowScrollDownImg {
            animation: changeBackground 1s infinite;
            background-image: url(/assets/img/headline_img/arrow3.png);
            background-repeat: no-repeat;
            // background-size: contain; /* Das Hintergrundbild wird proportional skaliert, um vollständig im Element zu passen */
            background-position: center; /* Optional: Zentriert das Hintergrundbild */
            height: 180px;
        }

        .arrowScrollDownText {
            font-family: 'Overpass';
            font-weight: 300;
            font-size: 23px;
            text-align: center;
        }
    }
}

@keyframes changeBackground {
    0% {
        background-image: url(/assets/img/headline_img/arrow0.png);
    }
    16% {
        background-image: url(/assets/img/headline_img/arrow1.png);
    }
    32% {
        background-image: url(/assets/img/headline_img/arrow2.png);
    }
    48% {
        background-image: url(/assets/img/headline_img/arrow3.png);
    }
    64% {
        background-image: url(/assets/img/headline_img/arrow4.png);
    }
    80% {
        background-image: url(/assets/img/headline_img/arrow5.png);
    }
    100% {
        background-image: url(/assets/img/headline_img/arrow0.png);
    }
}